{% extends "base.html" %}

{% block content %}


<div class="categories">
    <h2>Категории</h2>
    {% if not categories %}
                    <br>
                    <h3>Пусто</h3>
                {% endif %}
    {% for category in categories %}
        <div class="category">
            <h3><a href="{{ url_for('category', category_id=category[0]) }}">{{ category[2] }}</a></h3>
            <p>{{ category[3] }}</p>
            <small>Создатель: {{ category[5] }}</small>
            {% if session.username == category[5] %}
            <form method="POST" style="display: inline;">
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="category_id" value="{{ category[0] }}">
                <br>
                <button class='delete_button' type="submit" class="btn btn-danger" 
                        onclick="return confirm('Удалить категорию под названием {{ category[2] }}?')">Удалить</button>
                
            </form>
            
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="recent-topics">
    <h2>Последние темы</h2>
    {% for topic in recent_topics %}
        <div class="topic-preview">
            <h4><a href="{{ url_for('topic', topic_id=topic[0]) }}">{{ topic[3] }}</a></h4>
            <small>Создатель: {{ topic[6] }}</small>
            <br>
            <small>Время: {{ topic[5] }}</small>
        </div>
    {% endfor %}
    
    
    
</div>
{% if session.username %}
<form method="POST">
    <div class="form-group">
        <label for="content">Название:</label>
        <input id="name" name="name" rows="1" required></input>
    </div>
    <div class="form-group">
        <label for="content">Описание:</label>
        <textarea id="description" name="description" rows="1" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Создать категорию</button>
</form>
{% endif %}
{% endblock %}